@model IEnumerable<AplikacjaWebowa.Models.Kontakty>

@{
    ViewBag.Title = "Index";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stan_Kontenera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nr_Kontenera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stan_Kontenera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_Kontenera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KontaktyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KontaktyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KontaktyId })
        </td>
    </tr>
}

</table>
