@model AplikacjaWebowa.Models.Kontakty

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Kontenery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stan_Kontenera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stan_Kontenera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nr_Kontenera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr_Kontenera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KontaktyId }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
